
:root[data-theme = 'dark']
{
    --lightBlue: #1CB2BF;
    --darkBlue: #3D68BE;
}

:root
{
    --lightBlue: #36D0DC;
    --darkBlue: #5B87E5;
}

.big{
    height: 792px;
    width: 1192px;

}
html,
body
{
    font-family: 'Roboto-Light', sans-serif;

    overflow: hidden;

    width: 392px;

    height: 292px;

    user-select: none;
}

body
{
    border-radius: 5px;
}

.container
{
    height: 100%;

    background-image: linear-gradient(to bottom left, var(--lightBlue), var(--darkBlue));
    background-repeat: no-repeat;
}

h1
{
    font-family: 'Roboto-Medium', sans-serif;
    font-size: large;

    color: white;
}
h2
{
    font-family: 'Roboto-Medium', sans-serif;
    font-size: medium;

    color: white;
}
p
{
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;

    margin: 0px 20px 20px;

    color: white;
}


.buttons
{
    float: right;

    margin: 5px;

    -webkit-app-region: no-drag;
}

li
{
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;

    color: white;
}

#kodiSetupSettings h1
{
    margin-left: 20px;
}

.parent
{
    display: grid;

    height: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .25fr repeat(2, 1fr) .5fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.content
{position: relative;

    grid-area: 2 / 1 / 4 / 4;
}
.bottomRight
{
    grid-area: 4 / 3 / 5 / 4;
}
.windowButtons
{
    grid-area: 1 / 3 / 2 / 4;
}
.title
{
    grid-area: 1 / 1 / 2 / 2;
}
.topBar
{
    grid-area: 1 / 1 / 2 / 4;   -webkit-app-region: drag;
}
.bottomLeft
{
    grid-area: 4 / 1 / 5 / 3;
}


.leftPanel { grid-area: 1 / 1 / 5 / 2; }
.rightPanel { grid-area: 1 / 3 / 5 / 4; }
.centrePanel { grid-area: 1 / 2 / 5 / 3; } 
.centrePanel{
    background-color: rgba(255,255,255,.3);
    width: 780px;
}
#waveMan
{
    position: absolute;
    top: 163px;
    right: 117px;

    height: 325px;

    transform: scale(-1,1);

    opacity: .5;

    filter: invert(1);
}

#loadingMan1
{
    position: relative;

    height: 150px;

    filter: invert(1);
}
#loadingMan2
{
    position: absolute;

    height: 150px;

    transform: scale(-1,1);

    opacity: .5;

    filter: invert(1);
}

.title h1
{
    margin-top: 18px;
    padding-left: 20px;
}

#minimise
{
    width: 33px;
    height: 20px;

    cursor: pointer;

    border: none;
    background: none;

    filter: invert(1);
}
#minimise:focus
{
    outline: 0;
}

#closeButton
{
    height: 20px;

    cursor: pointer;

    border: none;
    background: none;

    filter: invert(1);
}
#closeButton:focus
{
    outline: 0;
}

.content h1
{
    padding-left: 20px;
}

h2
{
    padding-left: 20px;
}

.whiteButton
{
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 12px;
    font-weight: bold;

    width: 80px;
    height: 32px;
    margin: 5px;

    cursor: pointer;

    color: #05739e;
    border: none;
    border-radius: 3px;
    background: none;
    background: white;
    z-index: 100;
}

.whiteButton:focus
{
    outline: 0;
}


.transButton
{
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 12px;
    font-weight: bold;

    width: 80px;
    height: 32px;
    margin: 5px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 3px;
    background: none;
    background: rgba(255,255,255,.25);
    z-index: 100;

}

.transButton:focus
{
    outline: 0;
}

.center
{
    display: flex;

    justify-content: center;
}

.centerBoth
{
    display: flex;

    align-items: center;
    justify-content: center;
}

.loading:after
{
    content: ' .';
    animation: dots 2s steps(5, end) infinite;
}

@keyframes dots
{
    0%,
    20%
    {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    40%
    {
        color: white;
        text-shadow: .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    60%
    {
        text-shadow: .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);
    }
    80%,
    100%
    {
        text-shadow: .25em 0 0 white,
        .5em 0 0 white;
    }
}

ul
{
    list-style: none;
}
.wifi
{
    display: inline-block;

    padding-left: 20px;
    /*height: 18px;*/
}

ul li
{
    display: flex;

    cursor: pointer;

    align-items: center;
}

ul li h2
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    display: inline-block;
}

.panelList{
    padding-top: 50px;
    padding-left: 0px;
}

#kodiList
{
    padding-left: 0;
}

ul li:hover
{
    background: rgba(255,255,255,.3);
}

.selected{
    background: rgba(255,255,255,.3);
}

ul li:focus
{
    outline: none;
    background: rgba(255,255,255,.3);
}

#connectButton
{
    margin-right: 24px;
}

#inserted
{
    display: contents;
}


.input-field
{
    line-height: 44px;

    position: relative;

    display: inline-block;

    width: 168px;
    height: 44px;
    margin-right: 0;
    margin-left: 20px;
}
.input-field label
{
    position: absolute;
    top: 0;
    left: 8px;

    width: 100%;

    cursor: text;
    transition: .2s all;

    color: rgba(0, 0, 0, .35);
}
.input-field input
{
    width: 100%;

    color: #111;
    border: 0;
    outline: 0;
    background-color: rgba(255,255,255,.8);
    box-shadow: none;
}

input:placeholder-shown
{
    background-color: rgba(255,255,255,.8) !important;
}
input:placeholder-shown ~ label
{
    color: #05739e !important ;
}
.input-field input:focus,
.input-field input:valid
{
    border-color: #05739e;
    background-color: white;
}
.input-field input:not(:placeholder-shown):not(:focus):invalid
{
    border-color: #9e3a34;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}
.input-field input:not(:placeholder-shown):invalid ~ label
{
    font-size: 11px;

    top: -14px;

    color: #9e3a34;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label
{
    font-size: 11px;

    top: -14px;

    color: #05739e !important ;
}


.input-field input
{
    width: 150px;
    height: 30px;
    padding-top: 14px;
    padding-left: 10px;
}

#IP
{
    width: 175px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

.bigTitle{
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 32px;
    padding-left: 20px;
    padding-top: 25px;
}

#defaultCanvas0{
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
}

.greenBG{
    background: rgba(0,255,0,0.3)!important;
}

#popup{
    background-color: white;
}